3.1
---

In [1]:
heights = {}
heights['Mount Everest'] = 8858
heights['K2'] = 8611
heights['Kangchenjunga'] = 8586

for mountain, height in heights.items():
    print('{} è alta {}'.format(mountain, height))
    
for i, mountain in enumerate(sorted(heights.keys())):
    print('La montagna numero {} è {} ed è alta {}'.format(i+1, mountain, heights[mountain]))

Mount Everest è alta 8858
K2 è alta 8611
Kangchenjunga è alta 8586
La montagna numero 1 è K2 ed è alta 8611
La montagna numero 2 è Kangchenjunga ed è alta 8586
La montagna numero 3 è Mount Everest ed è alta 8858

3.2
---

In [6]:
mountains = []

mountains += [{'name':'Mount Everest', 'height':8858, 'country':'Nepal'}]
mountains += [{'name':'K2', 'height':8611, 'country':'Pakistan'}]
mountains += [{'name':'Kangchenjunga', 'height':8586, 'country':'Nepal'}]

for i, m in enumerate(mountains):
    print('La montagna numero {} è {}, è alta {} e si trova in {}'.format(i,
                                                                          m['name'],
                                                                          m['height'],
                                                                          m['country']))

La montagna numero 0 è Mount Everest, è alta 8858 e si trova in Nepal
La montagna numero 1 è K2, è alta 8611 e si trova in Pakistan
La montagna numero 2 è Kangchenjunga, è alta 8586 e si trova in Nepal

In [5]:
mountain_names = [m['name'] for m in mountains]
mountain_heights = [m['height'] for m in mountains]

heights = {}

for i,n in enumerate(mountain_names):
    heights[n] = mountain_heights[i]
    
print(heights)

{'Mount Everest': 8858, 'K2': 8611, 'Kangchenjunga': 8586}

5.1, 5.2, 5.3
---

In [13]:
def show_user_info(user):
    print('\nNome:', user['name'])
    print('Età:', user['age'])
    print('Sesso:', user['sex'])

def show_all_users_by_age(users):
    for s in sorted(users, key = lambda x : x['age']):
        show_user_info(s)
        
def show_all_users_by_field(users, field='name'):
    for s in sorted(users, key = lambda x : x[field]):
        show_user_info(s)
        
def show_names_alphabetically(users):
    for name in sorted([u['name'] for u in users]):
        print(name)
    
francesco = {'name':'Francesco', 'age':30, 'sex':'M'}
giovanni = {'name':'Giovanni', 'age':68, 'sex':'M'}
elisa = {'name':'Elisa', 'age':27, 'sex':'F'}
michael = {'name':'Michael', 'age':30, 'sex':'M'}

users = [francesco, giovanni, elisa, michael]

print('Lista utenti per età:')
show_all_users_by_age(users)
print('\n*****************************')

print('\nLista utenti per età:')
show_all_users_by_field(users, field='age')
print('\n*****************************')

print('\nLista utenti per nome:')
show_all_users_by_field(users)
print('\n*****************************')

print('\nLista dei nomi degli utenti in ordine alfabetico:\n')
show_names_alphabetically(users)

Lista utenti per età:

Nome: Elisa
Età: 27
Sesso: F

Nome: Francesco
Età: 30
Sesso: M

Nome: Michael
Età: 30
Sesso: M

Nome: Giovanni
Età: 68
Sesso: M

*****************************

Lista utenti per età:

Nome: Elisa
Età: 27
Sesso: F

Nome: Francesco
Età: 30
Sesso: M

Nome: Michael
Età: 30
Sesso: M

Nome: Giovanni
Età: 68
Sesso: M

*****************************

Lista utenti per nome:

Nome: Elisa
Età: 27
Sesso: F

Nome: Francesco
Età: 30
Sesso: M

Nome: Giovanni
Età: 68
Sesso: M

Nome: Michael
Età: 30
Sesso: M

*****************************

Lista dei nomi degli utenti in ordine alfabetico:

Elisa
Francesco
Giovanni
Michael

5.4, 5.5
---

In [29]:
def is_adult(user):
    return user['age'] >= 18

def show_and_add_if_adult(user, db):
    show_user_info(user)
    #5.4
    #return db + [user] if user['age'] >= 18 else db
    #5.5
    return db + [user] if is_adult(user) else db

adult_users = []#database

print('\nTutti gli utenti:')
adult_users = show_and_add_if_adult({'name':'Francesco', 'age':30, 'sex':'M'}, adult_users)
adult_users = show_and_add_if_adult({'name':'Giovanni', 'age':68, 'sex':'M'}, adult_users)
adult_users = show_and_add_if_adult({'name':'Giulia', 'age':16, 'sex':'F'}, adult_users)
print('\n*****************************')

print('\nUtenti maggiorenni:')
for a in adult_users : show_user_info(a)

Tutti gli utenti:

Nome: Francesco
Età: 30
Sesso: M

Nome: Giovanni
Età: 68
Sesso: M

Nome: Giulia
Età: 16
Sesso: F

*****************************

Utenti maggiorenni:

Nome: Francesco
Età: 30
Sesso: M

Nome: Giovanni
Età: 68
Sesso: M